<!DOCTYPE html>
<html>
<head>
<style>
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
</style>
</head>
<body background="codee.jpg">

    <h1 style="font-size:40px"><b>About Us</b></h1>
    <p style="background-image:url('');font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 25px;">At the IEEE Student Chapter of our campus, we deal with learning, working on projects, and conducting different events such as 
        Workshops and Hackathons, related to different technical domains. We mainly work in the fields of Machine Learning, Digital Electronics,
        and the Internet of Things (IoT). 
        If you have an interest to dive deeper and learn about different technical domains, then this 
        is the right place for you! 

    </p>

</body>
</html>

